@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    display: flex;
    margin: 0px;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    
}
div{
    display: flex;
}
.logo{
    display: flex;

    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.hero,.heroheader{
     display: flex;
     background-color: #1f2937;
     
     color: #f9faf8;
}
.heroheader{
  flex: 1;
  align-items: center;
    justify-content: space-between;
}
.hero{

  flex-direction: column;
   padding: 10px 75px 10px 150px;
   margin: 0px;
    flex: 1;
    align-content: space-between;
   
}
.herobody{
    display: flex;
    flex: 1;
    
}
.headerbody{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.li{
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    font-weight: bold;
gap: 20px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
}

.image{
 display: flex;
 padding: 50px 0px 50px 50px;
    border: 50px;
    margin: 0px;
flex: 1;
}

img{
    width:500px;
    height:250px;
    background-color: gray;
    display: flex;
   flex: 1;
   text-align: center;
 
   
}

p, button{
    font-size: 15px;
    color: #E5E7EB;
}
h1,p{
    margin: 0px;
}

button{
 display: flex;
margin-top: 10px;
width: 150px;
min-width: 80px;
align-items: center;
justify-content: center;
padding: 5px;
font-weight: bold;
background-color: #3882F6;
border-radius: 10px;
border: 20px;
}
.body{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.info{
  
    font-size:38px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.illustrations,.pictextcontainer{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 50px;


}
.square{
    border: solid 3px;
   
    border-radius: 15px;
    border-color: #3882F6;
}

.piccontainer,.pictextcontainer{
    display: flex;
    
   
}
.piccontainer{
    
    flex-direction: column;
}

.pictext, .square{
    min-width: 100px;
    min-height: 100px;
    width: 110px; 
   
    display: flex;
}
.pictext{
    margin-top: -50px;
    margin-left: 8px;
}